h1 a,
h2 a {
    color: #C25100;
    font-family: 'Lobster';

}

body {
    padding-left: 2px;
    padding-top: 0px;
}

.page-header {
    background-color: #C25100;
    margin-top: 0;
    padding: 20px 20px 20px 650px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    
    margin-left: 400px;
    margin-right: 500px;
}

p {
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #67a5e4;
    font-size: 50pt;
}

h1 {
    font-family: 'Lobster', cursive;
}